@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("../components/footer.css");
@import url("../components/header.css");
@import url("../components/reset.css");

:root {
  --primary-clr: #ec6607;
  --black-clr: #000;
  --gray-clr: #767776;
  --white-clr: #fefffe;
}
