@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("../components/footer.css");
@import url("../components/header.css");
@import url("../components/reset.css");

:root {
  --primary-clr: #ec6607;
  --black-clr: #000;
  --dark-blue: #182b3a;
  --dark-blue-90: #182b3a90;
  --gray-clr: #767776;
  --gray-clr-90: #76777690;
  --white-clr: #fefffe;

  --default-transition: all ease-in-out 0.2s;
  --font-size-icons: 1.5rem;
  --font-size-icons-l: 1.75rem;
}

* {
  font-size: 14px;
}

/* Hero slider section */
.hero__slider__container {
  position: relative;
  overflow: hidden;
}

.hero__slider {
  display: flex;
  width: 1600%;
  margin-left: -100%;
}

.hero__slider__item {
  display: block;
  width: 100%;
}

.hero__slider-btn {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: var(--default-transition);
}

.hero__slider-btn:hover {
  background-color: var(--dark-blue-90);
}

.hero__slider-btn i {
  font-size: var(--font-size-icons-l);
  color: var(--white-clr);
}

.hero__slider__right-btn {
  right: 0.75rem;
}

.hero__slider__left-btn {
  left: 0.75rem;
}

@media screen and (min-width: 880px) {
  * {
    font-size: 16px;
  }

  /* Main navigation section */
  .main__navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem 2rem;
    background-color: var(--black-clr);
  }

  .main__navigation__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
  }

  .menu-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
  }

  .menu-title {
    color: var(--white-clr);
    font-weight: 600;
    padding: 0.25rem 0;
    text-align: center;
    font-size: 0.9rem;
  }

  .submenu {
    position: absolute;
    margin-top: 2.5rem;
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    border: 2px solid transparent;
    transition: var(--default-transition);
  }

  .submenu li a {
    display: block;
    font-size: 0.9rem;
    transition: var(--default-transition);
    padding-block: 0.5rem;
    width: 100%;
  }

  .submenu li a:hover {
    color: var(--primary-clr);
  }

  .menu-item:hover .submenu {
    border-top: 2px solid blue;
    opacity: 1;
    visibility: visible;
    cursor: pointer;
    z-index: 10;
    background-color: blue;
  }
}
